@media screen and (max-width:768px)and (max-width:1200px) {
    .todo-container {
        background: #c7d8f2;
        height: ;
        width: 100vw;
        font-family: roboto;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        padding: 0px;
    }

    .todo-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 20px;

    }

    .check-logo {
        height: 40px;
        width: 40px;
        color: blue;
    }

    .heading {
        font-family: roboto;
        font-size: 40px;
        font-weight: 600;
        margin: 10px;
    }

    .card {
        padding: 30px;
        width: 80vw;
    }

    .font {
        font-size: 20px;
        font-weight: 600;
    }

    .input {
        border: none;
    }

    .calender {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn {
        height: 40px;
        width: 140px;
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .task {
        display: flex;
        justify-content: flex-end;
    }

    .plus {
        height: 40px;
        width: 40px;
        padding-bottom: 20px;
    }

    .todo-dropdowns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        align-items: space-between;
        margin: 10px;
    }

    .status {
        padding-right: 100px;
    }

    .task-card {
        display: flex;
        flex-direction: row;

    }

    .checkbox {
        height: 25px;
        width: 25px;
    }

    .task-heading {
        font-size: 30px;
    }

    .task-align {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .status-head {
        background-color: #fcc74c;
        border: none;
        border-radius: 10px;
        height: 40px;
        width: 100px;
        align-items: center;
        text-align: center;
        padding: 10px;
        ;

        font-size: 20px;
        font-weight: 600;
    }

    .date {
        align-content: center;
    }

    .date-calender {
        padding-top: 20px;
        padding-right: 20px;
    }

    .clock {
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .due {
        color: #fc660f;
    }

    .delete {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .padding {
        padding: 20px;
    }
}
}
